*{
    margin: 0%;
    padding: 0%;
}
body{
    margin: 0%;
    padding: 0%;
    font-family: sans-serif;
    background-color:#d7f2eb;

}
.main{
    height: fit-content;
}
.header{
    padding: 20px 50px;
    width: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #3ba8d3;
    color: white;
}
.logosection{
    font-size: 30px;
    font-weight: bold;
}
.headerbuttons{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 50px;
}
.profile{
    display: flex;
    align-items: center;
    gap: 10px;
}
.profileIcon{
    height: 50px;
    width: 50px;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    color: #3ba8d3;
    
}
.headerbuttons p{
    font-size: 18px;
    color:white;
}
.headerbuttons button{
    height: 50px;
    width: 150px;
    background-color: white;
    border-radius: 16px;
    border: none;
    font-size: 17px;
}
.headerbuttons button:hover{
    box-shadow:2px 2px 10px  #eaecec;
}
.headerbuttons button a{
    text-decoration: none;
    color: #3ba8d3;

}

/* createblog button */
.createblogbtn{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    height: 20vh;
}
.createblogbtn button{
    height: 60px;
    background-color: #86ddff;
    width: 200px;
    border-radius: 16px;
    border: none;
    color: white;
    font-size: 18px;
}
.createblogbtn button:hover{
    box-shadow: 2px 2px 10px #86ddff;
    transition: all 0.5s;
}

/* blog section */

.blogSeciton{
    width: 60vw;
    height:auto;
    margin: auto;
    margin-top: 50px;
    /* background-color: #259678; */
    margin-top: 100px;
}
.blogSeciton h1{
    text-align: center;
    font-size: 50px;
    color: #3ba8d3;
    margin-bottom: 30px;
}
#blogdescription{
    text-align: start;
    font-size: 18px;
    line-height: 28px;
    color: #585858;
}
.authorDetails{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 40px 0px;
    font-size: 18px;
    color: #3ba8d3;
}

.blogimg{
    display: flex;
    justify-content: center;
    margin-top: 50px;
    margin-bottom: 20px;
}
.blogimg img{
    width: 70vw;
    object-fit: cover;   
}



/* blogform section */
.blogform{
    background-color: #b1c1c794;
    height: 100vh;
    width: 100%;
    position: absolute;
    top: 0%;
    left: 0%;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    display: none;    
    
}


.blogInfo{
    background-color: #3ba8d3;
    height: 70vh;
    width:35vw;
    display: flex;
    flex-direction:column;
    padding: 20px 40px;
    border-radius: 32px;
}
.blogupper{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
    color: white;
    font-size: 20px;

}
#closeicon{
    height: 50px; 
    width: 50px;
    border-radius: 50%;
    background-color:#3ba8d3;
    color: white;
    border: none;
}
#closeicon:hover{
    border: 2px solid white;
    transition: all 0.1s;
}
.blogupper i{
    font-size: 25px;
}

.blogInfo input{
    padding: 10px 10px;
    margin-bottom: 30px;
    border: none;
    color: #3ba8d3;
}

.blogInfo input:focus{
    outline:none;

}
.blogInfo textarea{
    padding: 10px 10px;
    height: 100px;
    border: none;
    margin-bottom: 20px;
    color: #585858;
}
.blogInfo textarea:focus{
    outline:none;

}
#file{
    color: black;
    background-color: white;
}
.createBlog{
    height: 60px;
    width: 150px;
    text-align: center;
    margin: auto;
    border-radius: 16px;
    border: none;
    font-size: 17px;
    color: #3ba8d3;
    background-color: white;

}
.blogInfo button:hover{
    box-shadow: 2px 2px 10px white;
    transition: all 1s;
}

#blogs{
    height: 60px;
    width: 150px;
    text-align: center;
    margin: auto;
    border-radius: 16px;
    border: none;
    font-size: 17px;
    color: #3ba8d3;
    background-color: white;

}
#blogs button:hover{
    box-shadow: 2px 2px 10px white;
    transition: all 1s;
}


@media (min-width:300px) and (max-width:720px){

    .headerbuttons{
        gap: 0px;
    }
    .headerbuttons button{
        width: 70px;
        margin-left: 20px;
    }
    .profile{
        display: none;
    }
}


.dan{
    background-color: #259678;

}
.blogimg{
    /* background-image: url(img2.jpg); */
    background-size: cover;
    height: 300px;
}
/* ===== Blog Cards Styling ===== */
.blogSection {
    width: 80%;
    max-width: 900px;
    margin: 50px auto;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.singleBlog {
    background-color: white;
    border-radius: 16px;
    padding: 25px 30px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.08);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.singleBlog:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 20px rgba(0,0,0,0.15);
}

/* Blog Title */
.singleBlog h2 {
    font-size: 1.8rem;
    color: #3ba8d3;
    margin-bottom: 15px;
}

/* Author Name */
.singleBlog h4 {
    font-size: 1rem;
    color: #3ba8d3;
    font-weight: 500;
    margin-bottom: 15px;
}

/* Blog Content */
.singleBlog p {
    font-size: 1rem;
    line-height: 1.6;
    color: #585858;
    margin-bottom: 20px;
}

/* Author & Publish Date */
.authorDetails {
    display: flex;
    justify-content: space-between;
    font-size: 0.95rem;
    color: #3ba8d3;
}

/* Divider */
.singleBlog hr {
    border: none;
    height: 1px;
    background: #e0e0e0;
    margin-top: 20px;
}

/* Responsive Adjustments */
@media (max-width: 768px) {
    .blogSection {
        width: 90%;
        gap: 20px;
    }

    .singleBlog h2 {
        font-size: 1.5rem;
    }

    .singleBlog p {
        font-size: 0.95rem;
    }
}
