* {
    margin: 0%;
    padding: 0%;
    font-family: sans-serif;
}

.main {
    height: 100vh;
    width: 100%;
    background-color: #d7f2eb;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    display: flex;
    justify-content: center;
    height: 90vh;
    width: 60%;
    border-radius: 64PX;
}

.singinsec {
    /* background: white; */
    display: flex;
    justify-content: center;
    background-color: rgba(255, 255, 255,0.8);
    width: 50%;
    border-top-left-radius:64px ;
    border-bottom-left-radius:64px ;

}

.signinInner {
    /* background-color: greenyellow; */
    text-align: center;
    margin: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.signinInner h1 {
    font-size: 3rem;
    margin-bottom: 20px;
}

.signinIcon {
    margin: 20px 0px;
}

.signinIcon ul {
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
    gap: 20px;
}

.signinIcon ul li {
    height: 50px;
    width: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    border: 2px solid #1596cf;
    font-size: 20px;
}

.signinIcon ul li:hover {
    background-color: #1596cf;
    color: white;
    transition: all 1s;
}

.signinInner p {
    margin: 20px 0px;
    color: #4b4d4a;
    /* font-weight: 600; */
}
#loginfailed{
    display: none;
}

.singininput input {
    height: 40px;
    width: 70%;
    padding: 10px 20px;
    border-radius: 32px;
    outline: none;
    border: none;
    margin-bottom: 20px;
    font-size: 18px;
    background-color: #f1f0ec;
    color: #1596cd;
}

.singininput::placeholder {
    font-size: 20px;
}

.singininput input:hover {
    box-shadow: 2px 2px 10px #1596cf;
    transition: all 1s;
}

.forgotp {
    margin-top: 10px;
    /* font-weight:300; */
    font-size: 18px;
    display: none;
}
.forgotp a{
    color: #1596cf;
}

.signinInner button {
    background-color: #1596cd;
    border-radius: 32px;
    border-width: 0px;
    height: 60px;
    width: 180px;
    font-size: 18px;
    color: white;
    font-weight: 600;
    margin-top: 30px;
}

.signinInner button:hover {
    /* background-color: #31a6d8; */
    box-shadow: 2px 2px 15px #4ac5bd;

}


/* side Section */
.sideSec {
    background-color: rgba(21, 150, 205,0.8);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
    line-height: 70px;
    color: white;
    border-top-right-radius:64px ;
    border-bottom-right-radius:64px ;

}

.sideSecInnenr {
    text-align: center;
}

.sideSecInnenr h2 {
    font-size: 50px;
    width: 70%;
    margin: auto;

}
.sideSecInnenr p{
    font-size: 18px;
}
.sideSecInnenr button{
    height: 60px;
    width: 180px;
    border-bottom: 2px solid white;
    border-top: 1px solid white;
    border-right: 1px solid white;
    border-left: 1px solid white;
    background-color: #18a3df;
    border-radius: 32px;
    font-size: 18px;
    color: white;
    font-weight: 600;
}
.sideSecInnenr button:hover{
    background:linear-gradient(45deg,#1596cd,#18a3df,#0e7ead);
    transition: all 1s;
}
.sideSecInnenr button a{
    text-decoration: none;
    color: white;
}


@media (min-width: 300px) and (max-width:800px) {
   .singinsec{
    width: 100%;
    border-radius: 16px;
    align-items: center;
   }
   .container{
    width: 80%;
   }
    .sideSec{
        display: none;
    }
    .signinInner{
        margin: 0px;
    }
    .forgotp{
        display: block;
    }
    .signinInner button{
        margin-top: 0;
    }
}